<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoGame",
  "name": "Ecliptica",
  "description": "{{ t.seo_description | escape }}",
  "genre": ["Survival", "Simulator", "Open World", "Indie", "Colony Management", "Logistic Simulation"],
  "url": "{{ site.url }}{{ page.url }}",
  "image": "{{ site.url }}{{ '/assets/images/ecliptica capsula vertical.png' | relative_url }}",
  "operatingSystem": "Windows",
  "applicationCategory": "Game",
  "gamePlatform": "PC",
  "keywords": "new survival game 2026, colony simulator, open world, factorio like, rimworld like, indie game",
  "author": {
    "@type": "Organization",
    "name": "QuasarApp Core"
  },
  "offers": {
    "@type": "Offer",
    "url": "https://store.steampowered.com/app/3723390/Ecliptica/",
    "priceCurrency": "USD",
    "availability": "https://schema.org/PreOrder"
  },
  "abstract": "{{ t.ai_genre | escape }}"
}
</script>
