<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ '/assets/images/ecliptica icon.png' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="terminal-container">
    <nav>
      <a href="#about">[ ABOUT ]</a>
      <a href="#features">[ FEATURES ]</a>
      <a href="#community">[ COMMUNITY ]</a>
      <a href="#requirements">[ SYSTEM_REQ ]</a>
    </nav>
    
    {{ content }}

    <footer>
      <p>TERMINAL v1.0.4 - STATUS: CONNECTION STABLE</p>
      <p>&copy; {{ site.time | date: '%Y' }} QuasarApp Corp. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
